.details__wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    z-index: 1;
    top: 80px;
    right: 0;
    width: 400px;
    height: calc(100vh - 80px);
    overflow: auto;
    background-color: #FFFFFF;
    border-left: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.details__content {
    padding: 10px 10px 0 10px;
}

.details__content__authors,
.details__content__date {
    font-size: 10px;
    margin: 0;
    color: rgba(0, 0, 0, .5);

    & span {
        font-weight: bold;
    }
}

.details__content__authors {
    margin-bottom: 10px;
}

.details__content__link {
    margin-bottom: 30px;

    & a {
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
    }
}

.details__wrapper__close {
    font-size: 20px;
    color: #2e00b2;
    background-color: #FFFFFF;
    border: none;
    padding-right: 20px;
    cursor: pointer;
}