@import "search.css";
@import "upload.css";
@import "filter.css";
@import "form.css";
@import "search-result.css";
@import "filtered-papers.css";
@import "map.css";
@import "loader.css";
@import "upload-result.css";
@import "generate.css";
@import "abstract.css";
@import "details.css";